@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  color: white;
}

@font-face {
  font-family: "PixelPowerline";
  src: url("/fonts/pixel_powerline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.pixel-powerline {
  font-family: "PixelPowerline", sans-serif;
}



html {
  background-color: black;
}

* {
  box-sizing: border-box;
}

canvas {
  z-index: -1;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
